{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.9.0-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/category_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    
</head>
<body>
    <div id="all-wrapper">
        <header>
            <h1>コーディングテスト</h1>
            <nav class="navbar navbar-expand-md navbar-dark bg-33383c fixed-top py-3">
                <div class="nav navbar-nav d-flex justify-content-end">
                    {% if user.is_authenticated %}
                        <div class="nav-item pl-3"><a class="user nav-link"><i class="fas fa-user"></i> {{ user.get_username }} さん</a></div>
                        <div class="nav-item pl-3"><a href="{% url 'logout' %}" class="logout nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a></div>
                    {% else %}
                        <div class="nav-item pl-3"><a href="{% url 'accounts:signup' %}" class="signup nav-link"><i class="fas fa-user-plus"></i> Sign up</a></div>
                        <div class="nav-item pl-3"><a href="{% url 'login' %}" class="login nav-link"><i class="fas fa-sign-in-alt"></i> Login</a></div>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <h2>コーディングテスト</h2>
    </footer>

    <div id="page-top"><a href="#"><i class="fas fa-arrow-up"></i></a></div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/prism.js' %}"></script>
    <script src="{% static 'js/page-top.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>