{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    <div class="tateiwa">
        <div class="text">TATEIWA'S COMMENT</div>		
         <div class="shadow">
              <div class="viewport">
                    <div class="text">TATEIWA'S COMMENT</div>
              </div>
         </div>
    </div>
    <div class="message">
        <div class="text">立岩さんのコメントを<br>ここへ挿入します</div>		
         <div class="shadow">
              <div class="viewport">
                    <div class="text">立岩さんのコメントを<br>ここへ挿入します</div>
              </div>
         </div>
    </div>
    <div id="loginsignup">
        {% if user.is_authenticated %}
            <p><a href="{% url 'category_list' %}" class="main-item"> 問題を見る</a></p>
        {% else %}
            <p><a href="{% url 'login' %}" class="main-item"><i class="fas fa-sign-in-alt"></i> LOG IN</a></p>
            <p><a href="{% url 'accounts:signup' %}" class="main-item"><i class="fas fa-user-plus"></i> SIGN UP</a></p>
        {% endif %}
    </div>
</body>
</html>
