{% extends 'codingCheckApp/base.html' %}
{% block title %}問題一覧{% endblock %}

{% block content %}
<div id="post-list-wrapper">
    <h3>問題一覧</h3>
    <div id="posts">
        {% for post, score in posts_scores %}
            <p class="post"><a href="{% url 'post_detail' post_pk=post.pk category_pk=post.category.pk %}">{{ post.title }}</a></p>
            {% if post.difficulty == "1" %}
                <p class="score">　　　難易度: ★☆☆☆☆　　　あなたのスコア: {{score}}</p>
            {% elif post.difficulty == "2" %}
                <p class="score">　　　難易度: ★★☆☆☆　　　あなたのスコア: {{score}}</p>
            {% elif post.difficulty == "3" %}
                <p class="score">　　　難易度: ★★★☆☆　　　あなたのスコア: {{score}}</p>
            {% elif post.difficulty == "4" %}
                <p class="score">　　　難易度: ★★★★☆　　　あなたのスコア: {{score}}</p>
            {% elif post.difficulty == "5" %}
                <p class="score">　　　難易度: ★★★★★　　　あなたのスコア: {{score}}</p>
            {% endif %}
            <p class="ranking-link"><a href="{% url 'ranking' post_pk=post.pk category_pk=post.category.pk %}">ランキングを見る</a></p>
            <div class="clearfix"></div>
            <hr>
        {% endfor %}
    </div>
</div>

<div style="margin-bottom: 300px;"></div>
{% endblock %}