{% extends 'codingCheckApp/base.html' %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<div id="post-detail-wrapper">
    <h3 id="post-title">{{ post.title }}</h3>
    <div id="post-main">
        <div id="post-problem-text" class="post-item">
            <p class="post-subtitle">問題</p>
            <p id="problem-content">{{ post.problem_text | linebreaksbr }}</p>
        </div>
        <div id="post-input-text" class="post-item">
            <p class="post-subtitle">入力説明</p>
            <p>{{ post.input_text | linebreaksbr }}</p>
        </div>
        <div id="post-output-text" class="post-item">
            <p class="post-subtitle">出力説明</p>
            <p>{{ post.output_text | linebreaksbr }}</p>
        </div>
        <div id="post-inout-format" class="post-item">
            <p class="post-subtitle">入出力フォーマット</p>
            {% if post.input_code %}
                <p class="post-subsubtitle">< 入力説明 ></p>
                <p>入力は以下のフォーマットで与えられます。</p>
                <p>{{ post.input_code | linebreaksbr }}</p>
            {% endif %}
            
            {% if post.output_code %}
                <p class="post-subsubtitle">< 出力説明 ></p>
                <p>出力は以下のフォーマットで与えられます。</p>
                <p>{{ post.output_code | linebreaksbr }}</p>
            {% endif %}
        
        </div>
        <div id="post-submit" class="post-item">
            <p class="post-subtitle">コード提出</p>
            <p>ユーザ名: {{ user }}</p>
            <form action="{% url 'submit_code' pk=post.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>言語: {{ form.language }}</p>
                <p>コード</p>
                <label for="id_file">{{ form.file }}</label>
                <br>
                <button type="submit">送信</button>
            </form>
    </div>
</div>
{% endblock %}